/*input {
    height: 20px;
    width: 80px;
}
.button {
    cursor: pointer;
}
.button:hover {
    background-color: #c0a16b;
    transition-duration: 1s;
}
.button:active {
    background-color: #c0a16b
box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.desno {
    float: right;
    margin-right: 520px;
}
.levo {
    float: left;
}
.masterreset {
    width: 120px;
    height: 25px;
    display: inline-block;
    border-radius: 500px;
    font-size: 20px;
    cursor: pointer;
    margin-left:310px;
    text-align: center;
}

}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
*/
.upozorenje {
    font-size: 20px;
    color: red;
    font-weight: bold;
    font-style: normal;
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    animation-delay: 1s;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
.alert-warning {
    color: #944c24;
    font-size: 20px;
    border: inset;
    display: inline;
}
input {
    width: 2cm;
    height: 0.5cm;
}