/*body {
    color: #000000;
    background-image: url('/images/pozadina.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
    background-color: seashell;
}
h2 {
    margin-left: 250px;
}
img {
    margin-left: 50px;
    height: 180px;
}
.link1 {
    float: left;
}
.link2 {
    float: right;
    margin-right: 530px;
}
.boththree {
    font-size: large;
    font-style: oblique;
    color: #763621;
}
a {
    color: #5c51e1;
}
a:hover {
    color: #e51717;
}*/
* {
    box-sizing: border-box;
}
body {
    background-color: rgba(244, 157, 7, 0.3);
}
h2 {
    text-align: center;
}
header {

    padding: 15px;
}
footer {
    text-align: center;

    padding: 15px;
}
[class*="col-"] {
    float: left;
    padding: 5px;

    width: 100%;
}
@media only screen and (min-width: 600px) {
    .col-m-1 {width: 70%;}
    .col-m-2 {width: 30%;}
    .col-m-3 {width: 30%;
        font-size: larger;
        font-style: oblique;

    }
    .col-m-4 {width: 40%;}
    .col-m-5 {width: 30%;
        font-size: larger;
        font-style: oblique;
    }
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 50%;}
}
@media only screen and (min-width: 768px){
    .col-1 {width: 70%;}
    .col-2 {width: 30%;}
    .col-3 {width: 30%;
        font-size: larger;
        font-style: oblique;

    }
    .col-4 {width: 40%;}
    .col-5 {width: 30%;
        font-size: larger;
        font-style: oblique;
    }
    .col-6 {width: 50%;}
    .col-7 {width: 50%;}
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
img {
    max-width: 100%;
}